{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "@typescript-eslint", "@typescript-eslint/tslint",  "react"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "react-app",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-explicit-any":  ["warn", { "ignoreRestArgs": false }],
    "@typescript-eslint/tslint/config": [
      "error",
      {
        "rules": {
          "ordered-imports": [
            true,
            {
              "module-source-path": "full",
              "grouped-imports": true,
              "import-sources-order": "lowercase-first",
              "groups": [
                {
                  "match": "^module-alias/register",
                  "order": 1
                },
                {
                  "match": "^react",
                  "order": 2
                },
                {
                  "match": "^@urban-bot",
                  "order": 3
                },
                {
                  "name": "Source",
                  "match": "^@src\/",
                  "order": 10
                },
                {
                  "name": "Components",
                  "match": "^@components/",
                  "order": 20
                },
                {
                  "name": "Hooks",
                  "match": "^@hooks/",
                  "order": 30
                },
                {
                  "name": "Parent directory",
                  "match": "^[.][.]",
                  "order": 40
                },
                {
                  "name": "Current directory",
                  "match": "^[.]",
                  "order": 50
                },
                {
                  "name": "Vendors & Packages",
                  "match": "^[^\\.]",
                  "order": 10
                }
              ]
            }
          ]
        }
      }
    ]
  }
}
